.breadcrumb {
    margin-left: 8px;
    font-size: small;
    margin-top: 1rem;
}

a.btn{
    color: black;
}

.breadcrumb a{
    color: black;
    
}

.btn{
    color: black;
}

header {
    margin-top: 2rem;
    font-size: large;
}

table{
    margin-top: 20px;
    width: 100%;
    margin-bottom: 20px;
}

.instructions {
    margin-top: 1em;
    margin-left: 8px;
    font-size: 150%;
    margin-bottom: 1em;
}

.form-group {
    margin-bottom: 2em;
}

.btn-primary {
    background-color: #94a7c4;
    border-color: #94a7c4;
}

.btn-primary:hover{
    background-color: #7b99c4;
    border-color: #7b99c4;
    
}

.btn-primary:active:hover{
    background-color: #7b99c4;
    border-color: #7b99c4;      
}

.home-page-button {
    font-size: 150%;
}

.form-group>label {
    margin-bottom: 7px;
}


.invalid-input {
    color: red;
}